- Kevin Ridge

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
main_url = "https://datasets.imdbws.com/"

basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
        
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
            
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

## Data Cleaning

In [6]:
# Display info for title basics
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9906183 entries, 0 to 9906182
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 680.2+ MB

1) Filtering/Cleaning Steps: 
2) Title Basics:
- Replace "\N" with np.nan
- Eliminate movies that are null for runtimeMinutes
- Eliminate movies that are null for genre
- keep only titleType==Movie
- keep startYear 2000-2022
- Eliminate movies that include "Documentary" in genre (see tip below)
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

- After searching, I am not sure how to do the 'keep only' parts of this project...

In [11]:
# Replace "\N" with np.nan
dfb = basics.replace({'\\N':np.nan})
dfb.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [12]:
# Eliminate movies that are null for runtimeMinutes and genre
dfb = dfb.dropna(subset=['runtimeMinutes','genres'])

In [19]:
# keep only titleType==Movie
dfb1 = dfb[dfb['titleType']=='movie']
dfb1.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

In [20]:
dfb1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 383454 entries, 8 to 9906133
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          383454 non-null  object
 1   titleType       383454 non-null  object
 2   primaryTitle    383454 non-null  object
 3   originalTitle   383454 non-null  object
 4   isAdult         383454 non-null  object
 5   startYear       376986 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  383454 non-null  object
 8   genres          383454 non-null  object
dtypes: object(9)
memory usage: 29.3+ MB

In [18]:
# Display title akas info
akas.info()
akas.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36124719 entries, 0 to 36124718
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
10,tt0000002,3,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0
12,tt0000002,5,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0
13,tt0000002,6,Клоун и его собаки,RU,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,\N,0
16,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0
17,tt0000003,2,Szegény Pierrot,HU,\N,imdbDisplay,\N,0
18,tt0000003,3,哀れなピエロ,JP,ja,imdbDisplay,\N,0
19,tt0000003,4,Бідний П'єро,UA,\N,imdbDisplay,\N,0

In [9]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319463 entries, 0 to 1319462
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1319463 non-null  object
 1   averageRating  1319463 non-null  float64
 2   numVotes       1319463 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.2+ MB